{%extends 'main/base.html'%}
{% block title %}My Cafe - Locations{% endblock %}
		{%block content%}
	 <div class="banner">
            <img src="cafe_banner.jpg" alt="Cafe Banner">
        </div>
		<div class="intro">
            <h2>About Our Cafe</h2>
            <p>Welcome to My Cafe, where we serve delicious coffee, pastries, and more in a cozy atmosphere. Whether you're looking for a quick caffeine fix or a relaxing place to unwind, we've got you covered. Check out our menu to see what we have to offer, and don't hesitate to contact us if you have any questions!</p>
        </div>
	{% endblock%}